body {
    background-color: #f9fafb;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #007bff;
    text-align: center;
    margin-top: 50px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
